# IDE CONFIG
*.idea/
*.DotSettings.user

# ARTIFICATS
obj/
bin/

# IGNORE CONFIG FILE STUFF
*appsettings.json
*appsettings.Development.json
*appsettings.Production.json
*runsettings.json

# PACKAGES
packages/

# OUTPUT DUMP
temp/
blender/
*.zip
