# IDE CONFIG
*.idea/
*.DotSettings.user
*.vs/

# ARTIFICATS
obj/
bin/

# IGNORE CONFIG FILE STUFF
*appsettings.json
*appsettings.Development.json
*appsettings.Production.json
*runsettings.json

# WEB STUFF
Properties/
*csproj.user

# PACKAGES
packages/

# OUTPUT DUMP
temp/
blender/
*.zip

# TEST
